{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Verport" content="width=device-width, initial-scale=1.0">
    <title>QueSeriaDeMiSinTi | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %} />
    <link rel="stylesheet" href={% static 'css/index.css' %} />
    <link rel="stylesheet" href="{% static 'DataTables/DataTables-1.12.1/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'DataTables/responsive/2.3.0/css/responsive.bootstrap5.min.css' %}">
</head>

<body>
        <!--Aqui va el navbar y menu deslizante-->
        {% include 'navbar.html' %}
        {% block 'carrusel' %}{% endblock 'carrusel' %}
     </div>
        <div class="container d-felx flex-row my-1 p-5">
            {% block content %}{% endblock content %}
         </div>      
      </div>
    {% include "footer.html" %}
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/bootstrap.bundle.min.js' %}></script>
    <script src={% static 'js/index.js' %}></script>
    <script src={% static 'js/jquery-3.6.1.min.js' %}></script>
    <script src={% static 'js/sweetalert2@11.js'%}></script>
    {#DataTables#}
    <script src="{% static 'DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'DataTables/responsive/2.3.0/js/dataTables.responsive.min.js' %}"></script>
    
    {% block scripts %}{% endblock scripts %}
</body>

</html>