<footer class="bg-dark text-center text-white d-flex flex-column justify-content-center">
    <!-- Grid container -->
    <div class="p-4 d-flex flex-row justify-content-center align-items-center">  

      <!-- Section: Text -->
      <section class="mb-4 mt-5">
        <div class="d-flex">
            <!-- Element on the left -->
            <div class="px-6">
                <h5>Domicilios</h5>
                <p class="lead fw-normal text-muted"> 
                    Envio de cualquiera de los platos confeccionados
                    en nuestras instalaciones hasta la puerta de
                    su apartamento.
                </p>
            </div>
          
            <!-- Vertical divider -->
            <div class="vr" style="height: 130px;"></div>
          
            <!-- Element on the left -->
            <div class="px-6">
                <h5>Comida</h5>
                <p class="lead fw-normal text-muted">
                    Excelentes platos confeccionados por los mejores
                    profesionales, con experiencia y dedicación
                    para su disfrute.
                </p>
            </div>
          
          </div>
      </section>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3 text-muted" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; Copyright - QueseriaDeMiSinTi - 2022
        <p >Diseñado por el Equipo 3</p>
    </div>
    <!-- Copyright -->
</footer>
