{% extends "base_principal.html" %}
{% load static %}

{% block title %}
    Eliminar Producto
{% endblock title %}

{% block content %}
<div class="card shadow-lg">
    <div class="card-body p-5">
        <h1 class="fs-4 text-center card-title fw-bold mb-4">Eliminar Producto</h1>
        <div class="content">
            <p class="fs-6">¿Está usted seguro que quiere eliminar el Producto seleccionado?</p>
            
            <ul><h2 class="fs-5">Producto:</h2>
                <li>
                    <img src="{{object.foto.url}}" alt={{object.nombre}} width="100" height="100">
                    <br>
                    <strong>{{ object.nombre }}</strong>
                </li>
            </ul>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Si, estoy seguro">
                <a class="text-decoration-none" href="{% url 'producto' %}">
                    <button type="button" class="btn btn-secondary">Cancelar</button>
                </a>
        </form>
    </div>
</div>
{% endblock content %}
