{% extends 'base_autenticar.html' %}
{% load static %}
{% block title %}Registro{% endblock title %} 
{% block content %}
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 text-center card-title fw-bold mb-4">Registrarse</h1>
                        <form method="POST" autocomplete="off" id="formulario">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger sm mb-3 p-2" role="alert">
                                    <h6>Ha ocurrido un error al intentar guardar el Usuario</h6>
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="nomb">Nombre y Apellidos</label>
                                {{form.username}}
                                {%if form.username.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                    {% for error in form.username.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                            </div>
                
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="nomb">Carnet Identidad</label>
                                {{form.ci}}
                                {%if form.ci.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.ci.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                            </div>
                
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="pass">Teléfono</label>
                                {{form.tfno}}
                                {%if form.tfno.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.tfno.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                                
                            </div>
                
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="pass">Dirección</label>
                                {{form.dir}} 
                            </div>
                            
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="corr">Correo electrónico</label>
                                {{form.email}}
                                {%if form.email.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.email.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                            </div>
        
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="pass">Contraseña</label>
                                {{form.password1}}
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="pass">Confirmar Contraseña</label>
                                {{form.password2}}
                                {%if form.password2.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.password2.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                            </div>
                            <div class="d-flex flex-column align-items-center ">
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Registrarse	
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Ya tiene cuenta? <a href={% url 'login' %} class="link-danger">Inicia Sesión</a>
                        </div>
                    </div>
                </div>
{% endblock content %}
